openapi: 3.1.0
info:
  title: K0rdent AI API
  version: 0.2.0-draft
  description: |
    OpenAPI specification for the K0rdent AI GPU-as-a-Service platform.
    **Custom Extensions:**
    - `x-visibility`: Endpoint visibility — `internal` (Atlas only), `public` (Arc only), `[internal, public]` (common)
    - `x-status`: Implementation status — `mvp`, `tbd`, `blocked`, `stretch`
    - `x-source`: Source document reference or `TBD` for fields pending confirmation
    **Pagination:** Cursor-based using `pageToken` and `pageSize` query parameters.
    **Error Model:** Standard `{ error: { code, message, details[] } }` envelope.
servers:
  - url: https://api.k0rdent.ai
    description: K0rdent AI API Gateway
security:
  - bearerAuth: []
tags:
  - name: clusters
    description: Kubernetes cluster management
  - name: kubeconfigs
    description: Kubeconfig issuance and management
  - name: instances
    description: VM and baremetal instance lifecycle
  - name: networks
    description: Network configuration and topology
  - name: addresses
    description: IP address management
  - name: servers
    description: Bare metal server lifecycle management
  - name: organizations
    description: Organization (tenant) management
  - name: projects
    description: Project resource grouping
  - name: authentication
    description: Authentication and session management
  - name: users
    description: User management
  - name: groups
    description: User group management
  - name: roles
    description: RBAC role definitions
  - name: policies
    description: IAM policy bindings
  - name: providers
    description: Identity provider configuration
  - name: token
    description: |
      Generate access token via multiple grant types (authorization_code, api_key, client_credentials).
  - name: check
    description: |
      Evaluate permissions for a principal against actions and resources. Supports single and bulk checks (up to 100).
  - name: introspect
    description: |
      Token introspection per RFC 7662. Validate token activity and retrieve full decoded claims.
  - name: revoke
    description: |
      Token revocation per RFC 7009. Explicitly invalidate access tokens before natural expiration.
  - name: apikeys
    description: |
      Manage API keys for programmatic access. API keys are bound to a user and inherit a dynamic subset of the user's privileges, evaluated at token-mint time.
      Keys are scoped to a level in the resource hierarchy (organization, folder, or project).
  - name: serviceaccounts
    description: |
      Manage service accounts for machine-to-machine and infrastructure
      access. Service accounts are independent principals with their own
      identity, role bindings, and credentials. They survive user
      off-boarding and are managed exclusively by tenant administrators.
paths:
  /v1/regions/{region}/projects/{project}/compute/clusters:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    get:
      operationId: listClusters
      summary: List Kubernetes clusters
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "Cluster CRUD API: manage clusters"; Retrieve list of all Kubernetes clusters in the project.
      tags:
        - clusters
      x-visibility:
        - internal
        - public
      parameters:
        - $ref: '#/components/parameters/PageToken'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: List of clusters
          content:
            application/json:
              schema:
                type: object
                properties:
                  clusters:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cluster'
                  nextPageToken:
                    type: string
                    description: Token for next page of results
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createCluster
      summary: Create Kubernetes cluster
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "Cluster CRUD API: manage clusters"; Create a new Kubernetes cluster. Async operation.
      tags:
        - clusters
      x-visibility:
        - internal
        - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterCreateRequest'
      responses:
        '201':
          description: Cluster creation initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/compute/clusters/{id}:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique cluster identifier
    get:
      operationId: getCluster
      summary: Get cluster details
      description: |
        **Visibility:** `internal` · `public` (x-visibility)


        Retrieve cluster details, health status, and endpoint information.
      tags:
        - clusters
      x-visibility:
        - internal
        - public
      responses:
        '200':
          description: Cluster details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateCluster
      summary: Update cluster configuration
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "Cluster CRUD API"; Update cluster configuration to scale resources, upgrade versions, or modify settings.
      tags:
        - clusters
      x-visibility:
        - internal
        - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterUpdateRequest'
      responses:
        '200':
          description: Cluster updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteCluster
      summary: Delete Kubernetes cluster
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "Cluster CRUD API"; Delete cluster and trigger cleanup of nodes and IP resources.
      tags:
        - clusters
      x-visibility:
        - internal
        - public
      responses:
        '204':
          description: Cluster deletion initiated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/compute/clusters/{clusterId}/kubeconfigs:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
        description: Unique cluster identifier
    get:
      operationId: listKubeconfigs
      summary: List kubeconfigs
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "Kubeconfig issuance API"; List issued kubeconfigs for cluster.
      tags:
        - kubeconfigs
      x-visibility:
        - internal
        - public
      parameters:
        - $ref: '#/components/parameters/PageToken'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: List of kubeconfigs
          content:
            application/json:
              schema:
                type: object
                properties:
                  kubeconfigs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Kubeconfig'
                  nextPageToken:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: issueKubeconfig
      summary: Issue kubeconfig
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "Kubeconfig issuance API"; Issue a new kubeconfig file for cluster access.
      tags:
        - kubeconfigs
      x-visibility:
        - internal
        - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KubeconfigIssueRequest'
      responses:
        '201':
          description: Kubeconfig issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Kubeconfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/compute/clusters/{clusterId}/kubeconfigs/{id}:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
        description: Unique cluster identifier
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique kubeconfig identifier
    delete:
      operationId: revokeKubeconfig
      summary: Revoke kubeconfig
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "Kubeconfig issuance API"; Revoke kubeconfig to invalidate access.
      tags:
        - kubeconfigs
      x-visibility:
        - internal
        - public
      responses:
        '204':
          description: Kubeconfig revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/compute/clusters/{clusterId}/kubeconfigs/{id}/download:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
        description: Unique cluster identifier
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique kubeconfig identifier
    get:
      operationId: downloadKubeconfig
      summary: Download kubeconfig contents
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "Kubeconfig issuance API"; Download kubeconfig.
      tags:
        - kubeconfigs
      x-visibility:
        - internal
        - public
      responses:
        '200':
          description: Kubeconfig body
          content:
            application/yaml:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/compute/instances:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    get:
      operationId: listInstances
      summary: List VM/baremetal instances
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "Virtual machine lifecycle", "Baremetal server lifecycle"; List all compute instances (VMs and baremetal).
      tags:
        - instances
      x-visibility:
        - internal
        - public
      x-status: tbd
      parameters:
        - $ref: '#/components/parameters/PageToken'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: List of instances
          content:
            application/json:
              schema:
                type: object
                properties:
                  instances:
                    type: array
                    items:
                      $ref: '#/components/schemas/Instance'
                  nextPageToken:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createInstance
      summary: Create compute instance
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "Virtual machine lifecycle", "Baremetal server lifecycle"
        Create a new VM or baremetal instance.
      tags:
        - instances
      x-visibility:
        - internal
        - public
      x-status: tbd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceCreateRequest'
      responses:
        '201':
          description: Instance creation initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/compute/instances/{id}:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique instance identifier
    get:
      operationId: getInstance
      summary: Get instance details
      description: |
        **Visibility:** `internal` · `public` (x-visibility)


        Retrieve instance details and provisioning state.
      tags:
        - instances
      x-visibility:
        - internal
        - public
      x-status: tbd
      responses:
        '200':
          description: Instance details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateInstance
      summary: Update instance
      description: |
        **Visibility:** `internal` · `public` (x-visibility)


        Update instance metadata and configuration.
      tags:
        - instances
      x-visibility:
        - internal
        - public
      x-status: tbd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceUpdateRequest'
      responses:
        '200':
          description: Instance updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteInstance
      summary: Delete instance
      description: |
        **Visibility:** `internal` · `public` (x-visibility)


        Delete/decommission instance.
      tags:
        - instances
      x-visibility:
        - internal
        - public
      x-status: tbd
      responses:
        '204':
          description: Instance deletion initiated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/compute/networks:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    get:
      operationId: listNetworks
      summary: List provider networks
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "Network configuration and topology"; List all provider networks.
      tags:
        - networks
      x-visibility:
        - internal
        - public
      parameters:
        - $ref: '#/components/parameters/PageToken'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: List of networks
          content:
            application/json:
              schema:
                type: object
                properties:
                  networks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Network'
                  nextPageToken:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createNetwork
      summary: Create provider network
      description: |
        **Visibility:** `internal` · `public` (x-visibility)


        Create physical underlay network definition with CIDR, Gateway, VLAN IDs.
      tags:
        - networks
      x-visibility:
        - internal
        - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkCreateRequest'
      responses:
        '201':
          description: Network created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/compute/networks/{id}:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique network identifier
    get:
      operationId: getNetwork
      summary: Get network details
      description: |
        **Visibility:** `internal` · `public` (x-visibility)


        Retrieve network definition and configuration.
      tags:
        - networks
      x-visibility:
        - internal
        - public
      responses:
        '200':
          description: Network details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateNetwork
      summary: Update network configuration
      description: |
        **Visibility:** `internal` · `public` (x-visibility)


        Update network to adjust CIDR ranges, VLAN assignments, or gateways.
      tags:
        - networks
      x-visibility:
        - internal
        - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkUpdateRequest'
      responses:
        '200':
          description: Network updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteNetwork
      summary: Delete network
      description: |
        **Visibility:** `internal` · `public` (x-visibility)


        Delete network definition.
      tags:
        - networks
      x-visibility:
        - internal
        - public
      responses:
        '204':
          description: Network deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/compute/subnets:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    get:
      operationId: listSubnets
      summary: List subnets
      description: |
        **Visibility:** `internal` (x-visibility)

        List all subnets for a network.
      tags:
        - networks
      x-visibility:
        - internal
      parameters:
        - $ref: '#/components/parameters/PageToken'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: List of subnets
          content:
            application/json:
              schema:
                type: object
                properties:
                  subnets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subnet'
                  nextPageToken:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/compute/subnets/{id}:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique subnet identifier
    get:
      operationId: getSubnet
      summary: Get subnet details
      description: |
        **Visibility:** `internal` (x-visibility)

        Retrieve subnet details.
      tags:
        - networks
      x-visibility:
        - internal
      responses:
        '200':
          description: Subnet details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subnet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/compute/addresses:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    get:
      operationId: listAddresses
      summary: List IP address pools
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "IPAM API: allocate and release IP pools"
        List all IP address allocations.
      tags:
        - addresses
      x-visibility:
        - internal
        - public
      parameters:
        - $ref: '#/components/parameters/PageToken'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: List of IP addresses
          content:
            application/json:
              schema:
                type: object
                properties:
                  addresses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Address'
                  nextPageToken:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: allocateAddress
      summary: Allocate IP address/pool
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "IPAM API: allocate and release IP pools"
        Allocate IP address or IP pool from IPAM.
      tags:
        - addresses
      x-visibility:
        - internal
        - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressAllocateRequest'
      responses:
        '201':
          description: IP address allocated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/compute/addresses/{id}:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique address identifier
    get:
      operationId: getAddress
      summary: Get IP address details
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "IPAM API"
        Retrieve IP address allocation details.
      tags:
        - addresses
      x-visibility:
        - internal
        - public
      responses:
        '200':
          description: Address details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: releaseAddress
      summary: Release IP address/pool
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        "IPAM API: allocate and release IP pools"
        Release IP address or pool back to IPAM.
      tags:
        - addresses
      x-visibility:
        - internal
        - public
      responses:
        '204':
          description: IP address released
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/infrastructure/servers:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    get:
      summary: List bare metal servers
      description: |
        **Visibility:** `internal` (x-visibility)

        List all bare metal hosts in the fleet inventory.
      operationId: listServers
      tags:
        - servers
      x-visibility: internal
      parameters:
        - name: pageToken
          in: query
          description: Token for cursor-based pagination
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            default: 50
            maximum: 500
      responses:
        '200':
          description: List of servers
          content:
            application/json:
              schema:
                type: object
                properties:
                  servers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Server'
                  nextPageToken:
                    type: string
                    description: Token for next page of results
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Register bare metal server
      description: |
        **Visibility:** `internal` (x-visibility)

        Register a new bare metal host to the fleet inventory.
      operationId: registerServer
      tags:
        - servers
      x-visibility: internal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerCreateRequest'
      responses:
        '201':
          description: Server registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/infrastructure/servers/{id}:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - name: id
        in: path
        required: true
        description: Unique server identifier (UUID)
        schema:
          type: string
          format: uuid
    get:
      summary: Get server details
      description: |
        **Visibility:** `internal` (x-visibility)

        Retrieve detailed information about a specific server including health status.
      operationId: getServer
      tags:
        - servers
      x-visibility: internal
      responses:
        '200':
          description: Server details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update server metadata
      description: |
        **Visibility:** `internal` (x-visibility)

        Update host metadata including tags and persona.
      operationId: updateServer
      tags:
        - servers
      x-visibility: internal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerUpdateRequest'
      responses:
        '200':
          description: Server updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Decommission server
      description: |
        **Visibility:** `internal` (x-visibility)

        Remove server from fleet inventory when retired or failed.
      operationId: decommissionServer
      tags:
        - servers
      x-visibility: internal
      responses:
        '204':
          description: Server decommissioned successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/infrastructure/servers/{id}:provision:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - name: id
        in: path
        required: true
        description: Unique server identifier (UUID)
        schema:
          type: string
          format: uuid
    post:
      summary: Provision server
      description: |
        **Visibility:** `internal` (x-visibility)

        Initiate host provisioning workflow to move host from Registered to Ready state.
      operationId: provisionServer
      tags:
        - servers
      x-visibility: internal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Provisioning request details
              properties:
                osImage:
                  type: string
                  description: OS image identifier for provisioning
                configuration:
                  type: object
                  description: Additional provisioning configuration
      responses:
        '202':
          description: Provisioning job initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    description: Provisioning job identifier for status tracking
                  status:
                    type: string
                    enum:
                      - queued
                      - in-progress
                      - completed
                      - failed
                    description: Initial provisioning job status
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/infrastructure/servers/{id}:validate:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - name: id
        in: path
        required: true
        description: Unique server identifier (UUID)
        schema:
          type: string
          format: uuid
    post:
      summary: Validate server
      description: |
        **Visibility:** `internal` (x-visibility)

        Validate host reachability and required metadata.
      operationId: validateServer
      tags:
        - servers
      x-visibility: internal
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    description: Whether host validation succeeded
                  errors:
                    type: array
                    items:
                      type: string
                    description: Validation error messages if validation failed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/infrastructure/servers/{id}:{action}:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - name: id
        in: path
        required: true
        description: Unique server identifier (UUID)
        schema:
          type: string
          format: uuid
      - name: action
        in: path
        required: true
        description: Lifecycle transition action
        schema:
          type: string
    post:
      summary: Execute server state transition
      description: |
        **Visibility:** `internal` (x-visibility)

        Drive and validate server lifecycle transitions.
      operationId: executeServerAction
      tags:
        - servers
      x-visibility: internal
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Action-specific parameters
      responses:
        '200':
          description: Action executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/infrastructure/servers/{id}/logs:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
      - name: id
        in: path
        required: true
        description: Unique server identifier (UUID)
        schema:
          type: string
          format: uuid
    get:
      summary: Get server provisioning logs
      description: |
        **Visibility:** `internal` (x-visibility)

        Retrieve provisioning and host status logs.
      operationId: getServerLogs
      tags:
        - servers
      x-visibility: internal
      parameters:
        - name: startTime
          in: query
          description: Filter logs from this timestamp (RFC3339)
          schema:
            type: string
            format: date-time
        - name: endTime
          in: query
          description: Filter logs until this timestamp (RFC3339)
          schema:
            type: string
            format: date-time
        - name: pageToken
          in: query
          description: Token for cursor-based pagination
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of log entries to return
          schema:
            type: integer
            default: 100
            maximum: 1000
      responses:
        '200':
          description: Server provisioning logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      type: object
                      description: Log entry details
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                        severity:
                          type: string
                          enum:
                            - debug
                            - info
                            - warning
                            - error
                        message:
                          type: string
                  nextPageToken:
                    type: string
                    description: Token for next page of results
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/{region}/projects/{project}/infrastructure/servers:batchCreate:
    parameters:
      - $ref: '#/components/parameters/RegionPathParam'
      - $ref: '#/components/parameters/ProjectPathParam'
    post:
      summary: Bulk enroll servers
      description: |
        **Visibility:** `internal` (x-visibility)

        Bulk enroll multiple servers via CSV or JSON file upload.
      operationId: batchCreateServers
      tags:
        - servers
      x-visibility: internal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                servers:
                  type: array
                  items:
                    $ref: '#/components/schemas/ServerCreateRequest'
                  description: Array of server registration requests
      responses:
        '200':
          description: Bulk enrollment results
          content:
            application/json:
              schema:
                type: object
                properties:
                  succeeded:
                    type: array
                    items:
                      $ref: '#/components/schemas/Server'
                    description: Successfully registered servers
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          description: Index in request array
                        error:
                          $ref: '#/components/schemas/Error'
                    description: Failed registration attempts
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/organizations:
    get:
      summary: List organizations
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        List all organizations accessible to authenticated user.
      operationId: listOrganizations
      tags:
        - organizations
      x-visibility:
        - internal
        - public
      parameters:
        - name: pageToken
          in: query
          description: Token for cursor-based pagination
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            default: 50
            maximum: 500
      responses:
        '200':
          description: List of organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                  nextPageToken:
                    type: string
                    description: Token for next page of results
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create organization
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        Create a new customer organization (tenant).
      operationId: createOrganization
      tags:
        - organizations
      x-visibility:
        - internal
        - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreateRequest'
      responses:
        '201':
          description: Organization created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/organizations/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Unique organization identifier
        schema:
          type: string
          format: uuid
    get:
      summary: Get organization details
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        Retrieve detailed information about a specific organization.
      operationId: getOrganization
      tags:
        - organizations
      x-visibility:
        - internal
        - public
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update organization
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        Update organization configuration including settings and metadata.
      operationId: updateOrganization
      tags:
        - organizations
      x-visibility:
        - internal
        - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateRequest'
      responses:
        '200':
          description: Organization updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete organization
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        Delete/deactivate organization and reclaim resources.
      operationId: deleteOrganization
      tags:
        - organizations
      x-visibility:
        - internal
        - public
      responses:
        '204':
          description: Organization deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/organizations/{id}/invitations:
    parameters:
      - name: id
        in: path
        required: true
        description: Unique organization identifier
        schema:
          type: string
          format: uuid
    get:
      summary: List organization invitations
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        List pending and completed invitations for the organization.
      operationId: listOrganizationInvitations
      tags:
        - organizations
      x-visibility:
        - internal
        - public
      parameters:
        - name: pageToken
          in: query
          description: Token for cursor-based pagination
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: status
          in: query
          description: Filter by invitation status
          schema:
            type: string
            enum:
              - pending
              - accepted
              - expired
      responses:
        '200':
          description: List of invitations
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invitation'
                  nextPageToken:
                    type: string
                    description: Token for next page of results
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create organization invitation
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        Invite a user to join the organization.
      operationId: createOrganizationInvitation
      tags:
        - organizations
      x-visibility:
        - internal
        - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Email address of invitee
                role:
                  type: string
                  description: Role to assign to invitee
      responses:
        '201':
          description: Invitation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Revoke organization invitation
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        Revoke a pending invitation.
      operationId: revokeOrganizationInvitation
      tags:
        - organizations
      x-visibility:
        - internal
        - public
      parameters:
        - name: invitationId
          in: query
          required: true
          description: Unique invitation identifier
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Invitation revoked successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/projects:
    get:
      summary: List projects
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        List all projects accessible to authenticated user.
      operationId: listProjects
      tags:
        - projects
      x-visibility:
        - internal
        - public
      parameters:
        - name: organizationId
          in: query
          description: Filter projects by organization ID
          schema:
            type: string
        - $ref: '#/components/parameters/PageToken'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  nextPageToken:
                    type: string
                    description: Token for next page of results
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create project
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        Create a new project within an organization as a logical grouping of resources.
      operationId: createProject
      tags:
        - projects
      x-visibility:
        - internal
        - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreateRequest'
      responses:
        '201':
          description: Project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/projects/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Unique project identifier
        schema:
          type: string
    get:
      summary: Get project details
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        Retrieve detailed information about a specific project.
      operationId: getProject
      tags:
        - projects
      x-visibility:
        - internal
        - public
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update project
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        Update project settings and metadata.
      operationId: updateProject
      tags:
        - projects
      x-visibility:
        - internal
        - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateRequest'
      responses:
        '200':
          description: Project updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete project
      description: |
        **Visibility:** `internal` · `public` (x-visibility)

        Delete project and associated resources.
      operationId: deleteProject
      tags:
        - projects
      x-visibility:
        - internal
        - public
      responses:
        '204':
          description: Project deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/auth/token:
    post:
      operationId: mintToken
      summary: Mint access token
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Exchange a credential for a self-contained JWT access token.
        This endpoint proxies to the underlying identity provider
        for token issuance.

        Three grant types are supported:

        **authorization_code** — Interactive user session. Exchanges an
        authorization code obtained from the OAuth2 /authorize flow.

        **api_key** — Programmatic access via an API key. The caller
        presents the opaque, prefixed API key token. Effective privileges
        are evaluated as the intersection of the key's role list (if set)
        and the creating user's current roles within the key's scope.

        **client_credentials** — Service account authentication. The
        caller presents a client_id and client_secret pair. Effective
        privileges are the service account's directly assigned roles
        within its scope.

        All grant types support optional scope narrowing at mint time:
        the caller can request a narrower scope and/or a subset of roles
        for the issued token. The requested scope must be at or below the
        credential's scope in the resource hierarchy, and the requested
        roles must be a subset of the credential's effective roles.
      tags:
        - token
      x-visibility:
        - public
        - internal
      x-status: tbd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - grant_type
              discriminator:
                propertyName: grant_type
                mapping:
                  authorization_code: '#/components/schemas/AuthCodeGrant'
                  api_key: '#/components/schemas/ApiKeyGrant'
                  client_credentials: '#/components/schemas/ClientCredentialsGrant'
              oneOf:
                - $ref: '#/components/schemas/AuthCodeGrant'
                - $ref: '#/components/schemas/ApiKeyGrant'
                - $ref: '#/components/schemas/ClientCredentialsGrant'
      responses:
        '200':
          description: Token successfully minted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/auth/introspect:
    post:
      operationId: introspectToken
      summary: Introspect token
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Determine whether an access token is currently active and return
        its claims. Inspired by RFC 7662 (OAuth 2.0 Token Introspection)
        but uses application/json instead of form-encoded requests.

        A token is considered active when all of the following are true:
          - The token has not expired.
          - The token has not been revoked.
          - The underlying credential (API key, service account credential)
            is still active and not disabled.
          - The parent principal (user, service account) is still active.

        This endpoint is intended for resource servers that need to
        validate a token beyond signature verification — for example,
        before executing sensitive operations where even a short-lived
        token should be checked against the current credential state.

        The caller must be authenticated (typically a resource server
        using its own service account credentials).
      tags:
        - introspect
      x-visibility:
        - public
        - internal
      x-status: tbd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: The access token (JWT) to introspect.
      responses:
        '200':
          description: |
            Introspection result. If the token is active, the full
            claim set is returned. If inactive, only active: false
            is returned — no claims are exposed for invalid tokens.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ActiveIntrospectionResponse'
                  - $ref: '#/components/schemas/InactiveIntrospectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/auth/check:
    post:
      operationId: checkPermissions
      summary: Check permissions
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Evaluate whether the authenticated principal (or a specified
        subject) is allowed to perform one or more actions on target
        resources. Supports both single and bulk checks in a single
        request.

        **Self-check** — When no subject is specified, the caller's
        own permissions are evaluated. Useful for frontends that need
        to show/hide UI elements based on the current user's access.

        **Subject check** — Tenant administrators can evaluate
        permissions for another principal by specifying a subject.
        Non-admin callers specifying a subject other than themselves
        receive 403.

        Results are returned positionally — results[i] corresponds
        to checks[i].
      tags:
        - check
      x-visibility:
        - public
        - internal
      x-status: tbd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - checks
              properties:
                subject:
                  type: string
                  description: |
                    Principal to evaluate. Can be a user ID, API key ID,
                    or service account clientId. If omitted, defaults to
                    the authenticated caller. Only tenant administrators
                    can specify a subject other than themselves.
                  example: user-xyz789
                checks:
                  type: array
                  description: |
                    List of permission checks to evaluate. Each check
                    specifies an action and a target resource. Maximum
                    100 checks per request.
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                      - action
                      - resource
                    properties:
                      action:
                        type: string
                        description: |
                          The action to evaluate. Must be a recognized
                          action string in the format {service}.{resource}.{verb}
                          (e.g., compute.instances.create).
                        example: compute.instances.create
                      resource:
                        type: string
                        description: |
                          The target resource identifier to evaluate the
                          action against. Can be a project ID, folder ID,
                          or organization ID depending on the action's
                          scope.
                        example: proj-abc123
      responses:
        '200':
          description: Permission check results.
          content:
            application/json:
              schema:
                type: object
                required:
                  - results
                properties:
                  results:
                    type: array
                    description: |
                      Positional results — results[i] corresponds to
                      checks[i] in the request.
                    items:
                      type: object
                      required:
                        - allowed
                      properties:
                        allowed:
                          type: boolean
                          description: |
                            Whether the action is permitted on the
                            specified resource for the evaluated
                            principal.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/auth/revoke:
    post:
      operationId: revokeToken
      summary: Revoke token
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Explicitly revoke an access token before its natural expiration.
        Once revoked, the token is added to a server-side deny list and
        will fail introspection checks immediately.

        Callers can revoke their own tokens. Tenant administrators can
        revoke any token within the tenant.

        Inspired by RFC 7009 but uses application/json instead of
        form-encoded requests. This endpoint returns 200 even if the token is
        already expired, revoked, or unrecognized. This prevents
        information leakage about token validity.

        Resource servers that enforce real-time revocation must call
        the introspect endpoint for sensitive operations, as
        self-contained JWT signature verification alone will not
        detect revoked tokens.
      tags:
        - revoke
      x-visibility:
        - public
        - internal
      x-status: tbd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: The access token (JWT) to revoke.
      responses:
        '200':
          description: |
            Token revocation accepted. Per RFC 7009, this status is
            returned regardless of whether the token was valid,
            already revoked, or unrecognized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  revoked:
                    type: boolean
                    description: Always true on successful processing.
                    enum:
                      - true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/iam/users:
    get:
      operationId: listUsers
      summary: List users of an organization.
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        List all users in the organization. If Operator user is making the request, orgId in filter is to be used. Should pass "*" for orgId to list users across all organizations. Supports pagination and filtering by email, status, and role.
      tags:
        - users
      x-visibility:
        - public
        - internal
      x-status: mvp
      parameters:
        - name: orgId
          in: query
          description: Organization identifier. Used by operator admins to filter by a specific organization. Pass "*" to list across all organizations. If not specified, defaults to the current user's organization.
          schema:
            type: string
        - $ref: '#/components/parameters/PageToken'
        - $ref: '#/components/parameters/PageSize'
        - name: filter
          in: query
          description: Filter expression for user search (e.g., by email, status, role)
          schema:
            type: string
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  nextPageToken:
                    type: string
                    description: Token for retrieving next page of results
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/iam/users/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Unique user identifier
        schema:
          type: string
    get:
      operationId: getUser
      summary: Retrieve user details
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Retrieve user details and role assignments.
      tags:
        - users
      x-visibility:
        - public
        - internal
      x-status: mvp
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateUser
      summary: Update user
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Update user details or role assignments.
      tags:
        - users
      x-visibility:
        - public
        - internal
      x-status: mvp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  description: Updated user display name
                roles:
                  type: array
                  items:
                    type: string
                  description: Updated role assignments
                status:
                  type: string
                  enum:
                    - active
                    - suspended
                    - disabled
                  description: User account status
      responses:
        '200':
          description: User successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteUser
      summary: Delete a user and revoke access
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Delete a user and revoke access.
      tags:
        - users
      x-visibility:
        - public
        - internal
      x-status: mvp
      responses:
        '204':
          description: User successfully deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/iam/users/profile:
    get:
      operationId: getUserProfile
      summary: Get current user profile
      description: |-
        **Visibility:** `public` · `internal` (x-visibility)

        Retrieve authenticated user's own profile (self-service). Alias for the current user.
      tags:
        - users
      x-visibility:
        - public
        - internal
      x-status: mvp
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateUserProfile
      summary: Update current user profile
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Update authenticated user's own profile (self-service).
      tags:
        - users
      x-visibility:
        - public
        - internal
      x-status: mvp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  description: Updated display name
                email:
                  type: string
                  format: email
                  description: Updated email address
                preferences:
                  type: object
                  description: User preferences and settings
      responses:
        '200':
          description: Profile successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/iam/roles:
    get:
      operationId: listRoles
      summary: List RBAC roles
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        List all role definitions.
      tags:
        - roles
      x-visibility:
        - public
        - internal
      x-status: mvp
      parameters:
        - name: orgId
          in: query
          description: Organization identifier. Used by operator admins to filter by a specific organization. If not specified, defaults to the current user's organization.
          schema:
            type: string
        - $ref: '#/components/parameters/PageToken'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: List of roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
                  nextPageToken:
                    type: string
                    description: Token for retrieving next page of results
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createRole
      summary: Create RBAC role
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Define a new role with permissions.
      tags:
        - roles
      x-visibility:
        - public
        - internal
      x-status: mvp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - displayName
                - permissions
              properties:
                id:
                  type: string
                  description: Client-provided resource identifier. If omitted, the server generates one.
                  pattern: ^[a-z]([-a-z0-9]*[a-z0-9])?$
                  minLength: 1
                  maxLength: 63
                displayName:
                  type: string
                  description: Human-readable display name for the role.
                  minLength: 1
                  maxLength: 255
                orgId:
                  type: string
                  description: Organization identifier this role belongs to and specified when creating user is operator admin. When absent, it will be considered as the current user's organization.
                description:
                  type: string
                  description: Human-readable role description
                permissions:
                  type: array
                  items:
                    type: string
                  description: |
                    List of permissions granted by this role.
      responses:
        '201':
          description: Role successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Role already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/iam/roles/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Unique role identifier
        schema:
          type: string
    get:
      operationId: getRole
      summary: Retrieve role details
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Retrieve role definition and permissions.
      tags:
        - roles
      x-visibility:
        - public
        - internal
      x-status: mvp
      responses:
        '200':
          description: Role details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateRole
      summary: Update role
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Update role definition or permissions.
      tags:
        - roles
      x-visibility:
        - public
        - internal
      x-status: mvp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Updated role description
                permissions:
                  type: array
                  items:
                    type: string
                  description: Updated permissions list
      responses:
        '200':
          description: Role successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteRole
      summary: Delete role
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Delete a role definition.
      tags:
        - roles
      x-visibility:
        - public
        - internal
      x-status: mvp
      responses:
        '204':
          description: Role successfully deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/iam/groups:
    get:
      operationId: listGroups
      summary: List user groups
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        List all user groups for team-based access control.
      tags:
        - groups
      x-visibility:
        - public
        - internal
      x-status: tbd
      parameters:
        - name: orgId
          in: query
          description: Organization identifier. Used by operator admins to filter by a specific organization. If not specified, defaults to the current user's organization.
          schema:
            type: string
        - $ref: '#/components/parameters/PageToken'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: List of groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
                  nextPageToken:
                    type: string
                    description: Token for retrieving next page of results
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createGroup
      summary: Create user group
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Create a new user group.
      tags:
        - groups
      x-visibility:
        - public
        - internal
      x-status: tbd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - displayName
              properties:
                id:
                  type: string
                  description: Client-provided resource identifier. If omitted, the server generates one.
                  pattern: ^[a-z]([-a-z0-9]*[a-z0-9])?$
                  minLength: 1
                  maxLength: 63
                displayName:
                  type: string
                  description: Human-readable display name for the group.
                  minLength: 1
                  maxLength: 255
                orgId:
                  type: string
                  description: Organization identifier specified when creating group as operator admin. When absent, it will be considered as the current user's organization.
                description:
                  type: string
                  description: Human-readable group description
      responses:
        '201':
          description: Group successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Group already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/iam/groups/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Unique group identifier
        schema:
          type: string
    get:
      operationId: getGroup
      summary: Retrieve group details
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Retrieve group details.
      tags:
        - groups
      x-visibility:
        - public
        - internal
      x-status: tbd
      responses:
        '200':
          description: Group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateGroup
      summary: Update group
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Update group details. Use the /groups/{id}/members sub-resource
        for membership changes.
      tags:
        - groups
      x-visibility:
        - public
        - internal
      x-status: tbd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  description: Updated display name
                description:
                  type: string
                  description: Updated group description
      responses:
        '200':
          description: Group successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteGroup
      summary: Delete group
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Delete a user group.
      tags:
        - groups
      x-visibility:
        - public
        - internal
      x-status: tbd
      responses:
        '204':
          description: Group successfully deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/iam/groups/{groupId}/members:
    parameters:
      - name: groupId
        in: path
        required: true
        description: Group resource identifier.
        schema:
          type: string
    get:
      operationId: listGroupMembers
      summary: List group members
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        List members of a group with pagination. Returns membership
        records that include denormalized user details (display name,
        email) for convenience.
      tags:
        - groups
      x-visibility:
        - public
        - internal
      x-status: tbd
      parameters:
        - $ref: '#/components/parameters/PageToken'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Paginated list of group members.
          content:
            application/json:
              schema:
                type: object
                required:
                  - members
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupMember'
                  nextPageToken:
                    type: string
                    description: |
                      Token for retrieving the next page. Absent when
                      there are no more results.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: addGroupMember
      summary: Add member to group
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Add a user to the group. If the user is already a member,
        returns 409 Conflict. 
      tags:
        - groups
      x-visibility:
        - public
        - internal
      x-status: tbd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  description: User identifier to add as a group member.
                  example: user-v5w6x7
      responses:
        '201':
          description: Member added to the group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/iam/groups/{groupId}/members/{id}:
    parameters:
      - name: groupId
        in: path
        required: true
        description: Group resource identifier.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Membership resource identifier.
        schema:
          type: string
    get:
      operationId: getGroupMember
      summary: Retrieve group member
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Retrieve a single membership record for a user within a group.
        Returns 404 if the user is not a member of the group.
      tags:
        - groups
      x-visibility:
        - public
        - internal
      x-status: tbd
      responses:
        '200':
          description: Membership record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMember'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: removeGroupMember
      summary: Remove member from group
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Remove a user from the group. Returns 404 if the user is not a member.
      tags:
        - groups
      x-visibility:
        - public
        - internal
      x-status: tbd
      responses:
        '204':
          description: Member removed from the group.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/iam/policies:
    get:
      operationId: listPolicies
      summary: List IAM policy bindings
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        List role bindings to users/groups at org, project, or resource level.
      tags:
        - policies
      x-visibility:
        - public
        - internal
      x-status: tbd
      parameters:
        - name: orgId
          in: query
          description: Organization identifier. Used by operator admins to filter by a specific organization. If not specified, defaults to the current user's organization.
          schema:
            type: string
        - name: scope
          in: query
          description: Filter by scope (org, project, resource)
          schema:
            type: string
            enum:
              - org
              - project
              - resource
        - name: resource
          in: query
          description: Filter by resource identifier
          schema:
            type: string
        - $ref: '#/components/parameters/PageToken'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: List of policy bindings
          content:
            application/json:
              schema:
                type: object
                properties:
                  policies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Policy'
                  nextPageToken:
                    type: string
                    description: Token for retrieving next page of results
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createPolicy
      summary: Create IAM policy binding
      description: |
        **Visibility:** `public` · `internal` (x-visibility)

        Bind a role to a user or group at a specific scope.
      tags:
        - policies
      x-visibility:
        - public
        - internal
      x-status: tbd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
                - principal
                - scope
              properties:
                orgId:
                  type: string
                  description: Organization identifier specified when creating policy as operator admin. When absent, it will be considered as the current user's organization.
                role:
                  type: string
                  description: Role identifier to bind
                principal:
                  type: object
                  description: User or group to bind role to
                  properties:
                    type:
                      type: string
                      enum:
                        - user
                        - group
                        - serviceAccount
                      description: Principal type
                    id:
                      type: string
                      description: Principal identifier (userId, groupId, serviceAccountId)
                scope:
                  type: object
                  description: |
                    Scope of the role binding (org, project, or resource level).
                  properties:
                    type:
                      type: string
                      enum:
                        - org
                        - project
                        - resource
                      description: Scope type
                    resource:
                      type: string
                      description: Resource identifier for resource-level bindings
      responses:
        '201':
          description: Policy binding successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/regions/global/iam/policies/{id}:
    parameters:
      - name: id
        in: path
        required: true
[...]
